.music-player{
    width: 720px;
    height: 440px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-radius: 16px;
}

.music-player--wrap{
    position: relative;

    .music-thumbnail--img{
        width: 100%;
        max-width: 360px;
        max-height: 360px;
        margin: 40px 0;
        border-radius: 50%;
        object-fit: cover   ;
        background-color: #00000050;
        box-shadow: 0px 0px 20px 16px #00000030;
        animation: musicStart infinite 16s linear;
    }
    
    .music-thumbnail--img.play{
        animation-play-state: running;
    }
    
    .music-thumbnail--img.pause{
        animation-play-state: paused;
    }
    .play-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        width: 44px;
        height: 44px;
        background-image: url('/icons/play.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .play-btn.play{
        background-image: url('/icons/play.png');
    }
    .play-btn.play{
        background-image: url('/icons/pause.png');
    }
}

@keyframes musicStart {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.music-desc--wrap{
    .music-desc{
        li{
            margin-bottom: 16px;
            font-family: 'p-700';
            font-size: 30px;
            color: #fff;
            text-shadow: 0 0 16px #00000060;
            
            > div{
                transform: translateY(-30px);
                opacity: 0;
            }
            > div.view{
                transform: translateY(0px);
                opacity: 1;
            }
            .title{
                transition: all 0.3s;
            }
            .singer{
                margin-bottom: 0;
                font-family: 'p-400';
                font-size: 20px;
                color: #a5a5a5;
                transition: all 0.6s;
            }
        }
    }
}

.music-btn--wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0;
    transform: translateX(-20px);

    > div{
        cursor: pointer;
    }
}

.music-btn--wrap.view{
    transition: all 0.5s;
    opacity: 1;
    transform: translateX(0px);
}