@use '../common/color' as *;
@use '../common/font' as *;

.review-component{
    width: 30%;
    height: 240px;
    padding: 24px;

    .rate-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 24px;
    }
    .nickname{
        margin-bottom: 24px;
        font-family: 'p-500';
        font-size: 20px;
        color: #a5a5a5;
        text-align: right;
    }
    .review-text{
        font-family: 'p-600';
        font-size: 18px;
        line-height: 1.5;
        word-wrap: break-word;
    }
}

.set-review-component{
    input{
        width: 90%;
        height: 100%;
        min-height: 320px;
        padding-left: 24px;
        border: none;
        font-family: 'p-400';
        font-size: 18px;
        color: #a5a5a5;
        outline: none;
    }
    button{
        width: 40%;
    }
}