.everyday-song-page{
    .inner{
        .section-title{
            margin-bottom: 80px;
        }
        .song-history--wrap{
    
            > div{
                margin-bottom: 120px;
            }
            .song-history--date{
                margin-bottom: 40px;
                font-family: 'p-700';
                font-size: 24px;
                color: #f8b042;
            }
            .song-history--music--wrap{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 64px;

                .song-history--music{
                    border-radius: 16px;
                    box-shadow: 0px 0px 10px 10px #00000010;
                    overflow: hidden;

                    .song-history--music__img{
                        object-fit: cover;
                    }
                    .song-history--music__info{
                        width: 100%;
                        height: auto;
                        padding: 12px;
                        text-align: center;

                        .title{
                            margin-bottom: 12px;
                            font-family: 'p-700';
                            font-size: 24px;
                        }
                        .singer{
                            font-family: 'p-400';
                            font-size: 18px;
                            color: #a5a5a5;
                        }
                    }
                }
            }
        }
    }
}