.main-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000010;
}

.main-page section{
    width: 100%;
}

.main-page .music-section{
    height: calc(100vh - 60px);

    .inner{
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 80px;

        .player-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-top: 100px;
        }
    }
}