.notice-page{
    .notice-content{
        width: 100%;
        border-top: 1px solid $primary;

        &--header{
            padding: 32px;
            background-color: $primary-10;
            font-size: 24px;
            font-family: 'p-500';
            text-align: center;
        }
        &--body{
            padding: 40px;

            .content-info--wrap{
                display: flex;
                justify-content: flex-end;
                gap: 16px;
                margin-bottom: 40px;

                span{
                    color: #a5a5a5;
                }
            }
            .content-text{
                font-family: 'p-400';
                font-size: 24px;
                line-height: 1.5;
            }
        }
    }
}