@use '../common/color' as *;
@use '../common/font' as *;

.everyday-song-page{
    height: auto;
    min-height: calc(100vh - 220px);
    .inner{
        .section-title{
            margin-bottom: 80px;
        }
        .song-history--wrap{
            width: 100%;
    
            > div{
                margin-bottom: 120px;
            }
            .song-history--date{
                margin-bottom: 40px;
                font-family: 'gs-m';
                font-size: 24px;
                color: #fff;
            }
            .song-history--music--wrap{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 64px;

                .song-history--music{
                    background: rgb(54 54 54 / 18%);
                    border-radius: 16px;
                    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
                    overflow: hidden;

                    .song-history--music__img{
                        object-fit: cover;
                    }
                    .song-history--music__info{
                        width: 100%;
                        height: auto;
                        padding: 12px;
                        text-align: center;

                        .title{
                            margin-bottom: 12px;
                            font-family: 'p-700';
                            font-size: 24px;
                            color: #fff;
                        }
                        .singer{
                            font-family: 'p-400';
                            font-size: 18px;
                            color: #a5a5a5;
                        }
                    }
                }
            }
            .none-music--comment{
                margin: 0 auto;
                margin-top: 40px;
                font-family: 'p-400';
                font-size: 24px;
                color: #fff;
                text-align: center;
            }
        }
        .select-month-input{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            input[type="month"]{
                width: 160px;
                height: 40px;
                padding: 8px 12px;
                background-color: #a5a5a520;
                border: none;
                border-radius: 8px;
                font-family: 'p-600';
                font-size: 16px;
                color: #a5a5a5;
                // appearance: none;
                cursor: pointer;
            }
        }
    }
}