@use '../common/color' as *;
@use '../common/font' as *;

.notice-page{
    .notice-content{
        width: 100%;
        border-top: 1px solid #a5a5a5;

        &--header{
            padding: 32px;
            background-color: #00000040;
            font-size: 24px;
            font-family: 'p-500';
            color: #fff;
            text-align: center;
        }
        &--body{
            padding: 40px;

            .content-info--wrap{
                display: flex;
                justify-content: flex-end;
                gap: 16px;
                margin-bottom: 64px;

                span{
                    color: #a5a5a5;
                }
            }
            .content-text{
                font-family: 'p-400';
                font-size: 20px;
                color: #fff;
                line-height: 1.5;
            }
        }
    }
    .inner{
        justify-content: flex-start;
    }
}