header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: #00000020;
    box-shadow: 0px 0px 16px 10px #00000010;
    transition: all 0.3s;

    .inner {
        justify-content: space-between;

        h1 {
            a {
                font-family: "p-900";
                font-size: 24px;
                color: #fff;
            }
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;

            li {
                a {
                    padding-bottom: 4px;
                    font-family: "p-400";
                    font-size: 18px;
                    color: #fff;

                    &:hover {
                        border-bottom: 1.5px solid #fff;
                    }
                }
                .login-btn{
                    background-color: #a7a7a7;
                }
            }
        }
    }
}
header.scrolled {
    background-color: #fff;

    .inner {
        h1 {
            a{
                color: $primary;
            }
        }
        ul {
            li {
                a {
                    font-family: "p-600";
                    color: $primary;

                    &:hover {
                        border-bottom: 1.5px solid $primary;
                    }
                }
                .login-btn{
                    background-color: $primary;
                }
            }
        }
    }
}
