.music-player{
    width: 720px;
    height: 440px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-radius: 16px;
}

.music-plauer--wrap{
    position: relative;

    .music-thumnail--img{
        margin: 40px 0;
        border-radius: 50%;
        object-fit: fill;
        box-shadow: 0px 0px 20px 16px #00000020;
        animation: musicStart infinite 10s linear;
    }
    
    .music-thumnail--img.play{
        animation-play-state: running;
    }
    
    .music-thumnail--img.pause{
        animation-play-state: paused;
    }
    .play-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        width: 60px;
        height: 60px;
        background-image: url('/icons/play.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .play-btn.play{
        background-image: url('/icons/play.png');
    }
    .play-btn.play{
        background-image: url('/icons/pause.png');
    }
}

@keyframes musicStart {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.music-desc--wrap{
    .music-desc{
        li{
            margin-bottom: 16px;
            font-family: 'p-700';
            font-size: 28px;
            
            &:last-child{
                margin-bottom: 0;
                font-family: 'p-400';
                font-size: 22px;
                color: #112112;
            }
        }
    }
}