@font-face{
    src: url('/fonts/Pretendard-Bold.ttf');
    font-family: 'p-700';
}

@font-face{
    src: url('/fonts/Pretendard-SemiBold.ttf');
    font-family: 'p-600';
}

@font-face{
    src: url('/fonts/Pretendard-Medium.ttf');
    font-family: 'p-500';
}

@font-face{
    src: url('/fonts/Pretendard-Regular.ttf');
    font-family: 'p-400';
}

@font-face{
    src: url('/fonts/bnv/BnviitLasikOTF.otf');
    font-family: 'bnv';
}

@font-face{
    src: url('/fonts/GmarketSansMedium.otf');
    font-family: 'gs-m';
}

@font-face{
    src: url('/fonts/GmarketSansLight.otf');
    font-family: 'gs-l';
}