@media (max-width: 1300px) {
    .inner{
        width: 90%;
        max-width: 1000px;
    }
    .main-page > .inner{
        width: 100%;
    }
    section.music-section .inner .side-content{
        > div.lyric{
            padding-left: 60px;
    
            p{
                font-size: 20px;
            }
        }
        > div.comment .comment-wrap span{
            font-size: 16px;
        }
        > div.comment .write-comment--component{
            .write-modal{
                left: -10%;
            }
        }
    } 
    div.music-player--wrap .music-thumbnail--img{
        width: 340px;
        height: 340px;
    }
    div.music-desc--wrap .music-desc li{
        font-size: 26px;

        .singer{
            font-size: 18px;
        }
    }
}

@media (max-width: 1000px) {
    section.music-section{
        height: auto;

        .inner{
            flex-direction: column;
            padding: 100px 0;
    
            .music-info{
                width: 80%;
                min-height: auto;
                padding: 0;
            }
            .player-wrap{
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 48px;
                width: 100%;
    
                .music-player--wrap{
                    .music-thumbnail--img{
                        width: 280px;
                        height: 280px;
                    }
                }
            }
            .player-wrap{
                height: 260px;

                .music-player--wrap .music-thumbnail--img{
                    width: 200px;
                    height: 200px;
                }
            } 
            .side-content{
                width: 80%;
                
                > div.lyric{
                    p{
                        font-size: 18px;
                    }
                }
                > div.comment{
                    .write-comment--component,
                    .comment-wrap,
                    .time{
                        min-height: 48px;
                    }
                    .write-comment--component,
                    .time{
                        font-size: 20px;

                        &:hover{
                            font-size: 20px;
                        }
                    }
                    .write-comment--component{
                        .write-modal{
                            bottom: 60px;
                        }
                    }
                }
            }
        }
    } 
    div.music-history--wrap .music-history--component .music-desc{
        .title{
            font-size: 24px;
        }
        .singer{
            font-size: 16px;
        }
    }
    section.artist-section .info-wrap .artist-info{
        .artist-image img{
            width: 160px;
            height: 160px;
        }
        h3{
            font-size: 24px;
        }

    } 
}

@media (max-width: 830px) {
    header div.inner{
        h1 a{
            font-size: 24px;
        }
        ul li a{
            font-size: 16px;
        }
    } 
    form.music-recommend--component{
        width: 90%;
    }
    h2.section-title{
        font-size: 32px;
    }
    h3.sub-title{
        margin-bottom: 60px;
        font-size: 18px;
    }
    button.submit-btn--component{
        width: 30%;
        font-size: 18px;
    }
    section.music-section .inner{
        .side-content > div.lyric {
            padding-left: 40px;
        }
        .player-wrap{
            height: 220px;
            gap: 32px;

            .music-player--wrap{
                .music-thumbnail--img {
                    width: 180px;
                    height: 180px;
                }
            }
        }
        div.music-desc--wrap .music-desc li {
            margin-bottom: 12px;
            font-size: 22px;
        }
    }
    section.section{
        height: auto;
        padding-top: 120px;

        &:last-child{
            padding-bottom: 120px;
        }
    }
    .more-view--btn__wrap a.more-view--btn{
        font-size: 16px;
    }
    div.music-history--wrap .music-history--component .rate-wrap .time-icon{
        font-size: 20px;
    }
    div.music-history--wrap{
        flex-direction: column;

        .music-history--component{
            width: 70%;
        }
    }
}

@media (max-width: 700px) {
    section.artist-section{
        .info-wrap{
            .song-list{
                > p{
                    top: -12px;
                    font-size: 24px;
                }
            } 
        } 
    } 
}

@media (max-width: 600px) {
    button.submit-btn--component {
        width: 40%;
    }
    form.music-recommend--component{
        min-height: 340px;

        label{
            margin-bottom: 40px;

            > span{
                font-size: 16px;
            }
        }
    } 
    section.music-section .inner{
        .side-content {
            width: 90%;

            > div.comment {
                gap: 8px;

                .write-comment--component,
                .time {
                    font-size: 16px;

                    &:hover{
                        font-size: 16px;
                    }
                }
                .write-comment--component{
                    .write-modal{
                        left: -130%;
                    }
                }
            }
        }
        .music-info {
            width: 90%;
        }
    } 
    section.music-recommend-section{
        .inner{
            .modal{
                width: 300px;
                height: 160px;
            }
        }
    }
    div.music-history--wrap {
        gap: 28px;

        .music-history--component {
            width: 80%;
        }
    }
    section.artist-section{
        .info-wrap{
            padding: 32px;
            
            .artist-info{
                gap: 24px;

                .artist-image img{
                    width: 140px;
                    height: 140px;
                }
                h3{
                    font-size: 20px;
                }
            }
            .song-list{
                padding: 56px 16px 16px 16px;

                > p{
                    top: -9px;
                }
            } 
        } 
    } 
}

@media (max-width: 480px) {
    header div.inner{
        h1 a{
            font-size: 20px;
        }
        ul li a{
            font-size: 14px;
        }
    } 
    form.music-recommend--component{
        min-height: 310px;

        label {
            margin-bottom: 30px;

            > span{
                font-size: 14px;
            }
        }
    }
    h2.section-title {
        margin-bottom: 20px;
        font-size: 28px;
    }
    h3.sub-title {
        margin-bottom: 40px;
        font-size: 14px;
    }
    button.submit-btn--component {
        width: 50%;
        font-size: 16px;
    }
    section.music-section .inner{
        gap: 24px;

        .player-wrap {
            flex-direction: column;
            height: 390px;
            gap: 0px;

            .music-player--wrap .music-thumbnail--img{
                width: 240px;
                height: 240px;
                margin: 28px 0;
            }
        }
        .side-content{
            > div.lyric{
                padding: 24px;
                padding-right: 12px;
    
                p{
                    font-size: 16px;
                    line-height: 1.6;
                }
            }
            > div.comment{
                .write-comment--component,
                .time{
                    font-size: 14px;

                    &:hover{
                        font-size: 14px;
                    }
                }
                .comment-wrap span{
                    font-size: 14px;
                    line-height: 1.4;
                }
                .write-comment--component{
                    .write-modal{
                        left: -230%;
                    }
                }
            } 
        }
    } 
    div.music-history--wrap .music-history--component .music-desc{
        .title{
            font-size: 20px;
        }
        .singer{
            font-size: 14px;
        }
    }
    section.artist-section{
        .info-wrap{
            .artist-info{
                flex-direction: column;

                .artist-desc{
                    justify-content: center;
                }
                .artist-image img{
                    width: 160px;
                    height: 160px;
                }
            }
            .song-list{
                > p{
                    font-size: 20px;
                }
                .song-item-wrap{
                    gap: 24px;

                    .song-item{
                        width: 100%;

                        img{
                            width: 160px;
                            height: 160px;
                        }
                        .song-info{
                            h4{
                                font-size: 16px;
                            }
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                }
            } 
        } 
    } 
}

@media (max-width: 400px) {
    header div.inner{
        h1 a{
            font-size: 16px;
        }
        ul li a{
            font-size: 13px;
        }
    } 
    section.music-section .inner{
        .player-wrap{
            height: 330px;

            .music-player--wrap .music-thumbnail--img {
                width: 200px;
                height: 200px;
            }
        } 
        .side-content > div.comment .write-comment--component{
            .write-modal{
                left: -310%;
            }
        }
    } 
}