html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.main-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img{
        width: 100%;
        color: transparent;
        height: 100%;
        opacity: 0.9;
    }
}

.more-view--btn__wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    
    .more-view--btn{
        font-family: 'p-700';
        font-size: 18px;
        color: #f8b042;
    }
}

.sub-page--wrap{
    flex: 1;
    
    .inner{
        align-items: flex-start;
        flex-direction: column;
        padding: 120px 0;
        margin-top: 60px;

        .section-title{
            margin-bottom: 40px;
        }
    }
}

table{
    width: 100%;

    thead{
        width: 100%;
        height: 60px;
        background-color: #f8b042;

        tr{
            th{
                vertical-align: middle;
                font-family: 'p-600';
                font-size: 18px;
                color: #fff;

                &:first-child{
                    width: 10%;
                    border-radius: 12px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &:nth-child(2){
                    width: 55%;
                }
                &:nth-child(3){
                    width: 20%;
                }
                &:last-child{
                    width: 15%;
                    border-radius: 12px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
    tbody{
        tr{
            height: 48px;
            border-bottom: 1px solid #ddd;
            text-align: center;

            &:last-child{
                border-bottom: none;
            }
            td{
                height: 100%;
                font-family: 'p-400';
                vertical-align: middle;
            }
        }
    }
    .title-part{
        padding-left: 16px;
        text-align: left;
    }
}