@font-face{
    src: url('/fonts/Pretendard-Black.ttf');
    font-family: 'p-900';
}

@font-face{
    src: url('/fonts/Pretendard-ExtraBold.ttf');
    font-family: 'p-800';
}

@font-face{
    src: url('/fonts/Pretendard-Bold.ttf');
    font-family: 'p-700';
}

@font-face{
    src: url('/fonts/Pretendard-SemiBold.ttf');
    font-family: 'p-600';
}

@font-face{
    src: url('/fonts/Pretendard-Medium.ttf');
    font-family: 'p-500';
}

@font-face{
    src: url('/fonts/Pretendard-Regular.ttf');
    font-family: 'p-400';
}

@font-face{
    src: url('/fonts/Pretendard-Light.ttf');
    font-family: 'p-300';
}

@font-face{
    src: url('/fonts/Pretendard-ExtraLight.ttf');
    font-family: 'p-200';
}

@font-face{
    src: url('/fonts/Pretendard-Thin.ttf');
    font-family: 'p-100';
}