* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

@font-face {
  src: url("/fonts/Pretendard-Black.ttf");
  font-family: "p-900";
}
@font-face {
  src: url("/fonts/Pretendard-ExtraBold.ttf");
  font-family: "p-800";
}
@font-face {
  src: url("/fonts/Pretendard-Bold.ttf");
  font-family: "p-700";
}
@font-face {
  src: url("/fonts/Pretendard-SemiBold.ttf");
  font-family: "p-600";
}
@font-face {
  src: url("/fonts/Pretendard-Medium.ttf");
  font-family: "p-500";
}
@font-face {
  src: url("/fonts/Pretendard-Regular.ttf");
  font-family: "p-400";
}
@font-face {
  src: url("/fonts/Pretendard-Light.ttf");
  font-family: "p-300";
}
@font-face {
  src: url("/fonts/Pretendard-ExtraLight.ttf");
  font-family: "p-200";
}
@font-face {
  src: url("/fonts/Pretendard-Thin.ttf");
  font-family: "p-100";
}
@font-face {
  src: url("/fonts/kcc.woff2");
  font-family: "kcc";
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-bg img {
  width: 100%;
  color: transparent;
  height: 100%;
  opacity: 0.9;
}

.more-view--btn__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.more-view--btn__wrap .more-view--btn {
  font-family: "p-700";
  font-size: 18px;
  color: #f8b042;
}

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.0196078431);
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.062745098);
  transition: all 0.3s;
}
header .inner {
  justify-content: space-between;
}
header .inner h1 {
  font-family: "p-900";
  font-size: 24px;
  color: #fff;
}
header .inner ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
header .inner ul li a {
  padding-bottom: 4px;
  font-family: "p-400";
  font-size: 18px;
  color: #fff;
}
header .inner ul li a:hover {
  border-bottom: 1.5px solid #fff;
}

header.scrolled {
  background-color: #fff;
}
header.scrolled .inner h1 {
  color: #f8b042;
}
header.scrolled .inner ul li a {
  font-family: "p-600";
  color: #f8b042;
}
header.scrolled .inner ul li a:hover {
  border-bottom: 1.5px solid #f8b042;
}

.section-title {
  font-family: "p-600";
  font-size: 48px;
}

.sub-title {
  font-family: "p-400";
  font-size: 20px;
  color: #a5a5a5;
}

.music-player {
  width: 720px;
  height: 440px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-radius: 16px;
}

.music-player--wrap {
  position: relative;
}
.music-player--wrap .music-thumnail--img {
  width: 100%;
  max-width: 480px;
  max-height: 480px;
  margin: 40px 0;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #000;
  box-shadow: 0px 0px 20px 16px rgba(0, 0, 0, 0.1882352941);
  animation: musicStart infinite 10s linear;
}
.music-player--wrap .music-thumnail--img.play {
  animation-play-state: running;
}
.music-player--wrap .music-thumnail--img.pause {
  animation-play-state: paused;
}
.music-player--wrap .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 60px;
  height: 60px;
  background-image: url("/icons/play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.music-player--wrap .play-btn.play {
  background-image: url("/icons/play.png");
}
.music-player--wrap .play-btn.play {
  background-image: url("/icons/pause.png");
}

@keyframes musicStart {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.music-desc--wrap .music-desc li {
  margin-bottom: 16px;
  font-family: "p-700";
  font-size: 36px;
}
.music-desc--wrap .music-desc li > div {
  transform: translateY(-30px);
  opacity: 0;
}
.music-desc--wrap .music-desc li > div.view {
  transform: translateY(0px);
  opacity: 1;
}
.music-desc--wrap .music-desc li .title {
  transition: all 0.3s;
}
.music-desc--wrap .music-desc li .singer {
  margin-bottom: 0;
  font-family: "p-400";
  font-size: 24px;
  color: #a5a5a5;
  transition: all 0.6s;
}

.music-btn--wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: 0;
  transform: translateX(-20px);
}
.music-btn--wrap > div {
  cursor: pointer;
}

.music-btn--wrap.view {
  transition: all 0.5s;
  opacity: 1;
  transform: translateX(0px);
}

.review-component {
  width: 30%;
  height: 240px;
  padding: 24px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.062745098);
}
.review-component .rate-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}
.review-component .nickname {
  margin-bottom: 24px;
  font-family: "p-500";
  font-size: 20px;
  color: #a5a5a5;
  text-align: right;
}
.review-component .review-text {
  font-family: "p-600";
  font-size: 18px;
  line-height: 1.5;
}

.set-review-component {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}
.set-review-component select {
  width: 15%;
  height: 64px;
  border: 3px solid #f8b042;
  border-right: none;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 24px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.set-review-component input {
  width: 75%;
  height: 64px;
  padding-left: 24px;
  border: 3px solid #f8b042;
  border-left: none;
  border-right: none;
  font-family: "p-400";
  font-size: 18px;
  color: #a5a5a5;
  outline: none;
}
.set-review-component button {
  width: 10%;
  height: 64px;
  background-color: #f8b042;
  border: 3px solid #f8b042;
  border-left: none;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: "p-700";
  font-size: 16px;
  color: #fff;
  transition: all 0.3s;
}
.set-review-component button:hover {
  background-color: rgba(248, 176, 66, 0.5647058824);
}

.music-history--wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.music-history--wrap .music-history--component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 480px;
  height: auto;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.062745098);
}
.music-history--wrap .music-history--component .rate-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}
.music-history--wrap .music-history--component .rate-wrap .time-icon {
  font-size: 24px;
}
.music-history--wrap .music-history--component .rate-wrap > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.music-history--wrap .music-history--component .music-thumnail {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.music-history--wrap .music-history--component .music-desc {
  text-align: center;
}
.music-history--wrap .music-history--component .music-desc .title {
  margin-bottom: 12px;
  font-family: "p-700";
  font-size: 28px;
}
.music-history--wrap .music-history--component .music-desc .singer {
  font-family: "p-400";
  font-size: 20px;
  color: #a5a5a5;
}

.music-recommend--component {
  width: 60%;
  height: auto;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.062745098);
}
.music-recommend--component label {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
}
.music-recommend--component label > span {
  display: block;
  width: 20%;
  height: 100%;
  margin-bottom: 12px;
  font-family: "p-500";
  font-size: 18px;
}
.music-recommend--component label > span > span {
  font-size: 14px;
  color: #f00;
}
.music-recommend--component label input {
  width: 100%;
  height: auto;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: "p-400";
  font-size: 16px;
  color: #a5a5a5;
  outline: none;
}

.music-recommend-submit--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 40px;
  margin: auto;
  background-color: #f8b042;
  border-radius: 8px;
  font-family: "p-400";
  font-size: 20px;
  color: #fff;
}
.music-recommend-submit--btn img {
  transition: all 0.3s;
}
.music-recommend-submit--btn:hover img {
  transform: translateX(10px);
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main-page > .inner {
  flex-direction: column;
  max-width: none;
  overflow: hidden;
}

.main-page section {
  width: 100%;
}

.music-section {
  z-index: 999;
  height: calc(100vh - 60px);
  margin-top: 60px;
  overflow: hidden;
}
.music-section .inner {
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.music-section .inner .music-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-height: 700px;
  padding: 24px;
  background-color: #fff;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.062745098);
}
.music-section .inner .section-title {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 8px;
  font-family: "p-600";
  font-size: 60px;
  color: #000;
}
.music-section .inner .player-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.review-section {
  padding: 100px 0;
}
.review-section .inner {
  flex-direction: column;
}
.review-section .inner .section-title {
  margin-bottom: 24px;
}
.review-section .inner .sub-title {
  margin-bottom: 80px;
}
.review-section .inner .review-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 0 12px;
  margin-bottom: 64px;
}

.music-history-section {
  padding: 100px 0;
}
.music-history-section .inner {
  flex-direction: column;
}
.music-history-section .inner .section-title {
  margin-bottom: 24px;
}
.music-history-section .inner .sub-title {
  margin-bottom: 80px;
}

.music-recommend-section {
  padding: 100px 0;
}
.music-recommend-section .inner {
  flex-direction: column;
}
.music-recommend-section .inner .section-title {
  margin-bottom: 24px;
}
.music-recommend-section .inner .sub-title {
  margin-bottom: 64px;
}/*# sourceMappingURL=style.css.map */