* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

@font-face {
  src: url("/fonts/Pretendard-Black.ttf");
  font-family: "p-900";
}
@font-face {
  src: url("/fonts/Pretendard-ExtraBold.ttf");
  font-family: "p-800";
}
@font-face {
  src: url("/fonts/Pretendard-Bold.ttf");
  font-family: "p-700";
}
@font-face {
  src: url("/fonts/Pretendard-SemiBold.ttf");
  font-family: "p-600";
}
@font-face {
  src: url("/fonts/Pretendard-Medium.ttf");
  font-family: "p-500";
}
@font-face {
  src: url("/fonts/Pretendard-Regular.ttf");
  font-family: "p-400";
}
@font-face {
  src: url("/fonts/Pretendard-Light.ttf");
  font-family: "p-300";
}
@font-face {
  src: url("/fonts/Pretendard-ExtraLight.ttf");
  font-family: "p-200";
}
@font-face {
  src: url("/fonts/Pretendard-Thin.ttf");
  font-family: "p-100";
}
@font-face {
  src: url("/fonts/kcc.woff2");
  font-family: "kcc";
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.main-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(50%);
  opacity: 0.8;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.0196078431);
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.062745098);
}
header .inner {
  justify-content: space-between;
}
header .inner ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
header .inner ul li a {
  font-family: "p-500";
  font-size: 16px;
  color: #fff;
  transition: all 0.3s;
}
header .inner ul li a:hover {
  color: #112112;
}

.section-title {
  font-family: "p-600";
  font-size: 48px;
}

.music-player {
  width: 720px;
  height: 440px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-radius: 16px;
}

.music-thumnail--img {
  border-radius: 16px;
  box-shadow: 0px 0px 20px 16px rgba(0, 0, 0, 0.1254901961);
}

.music-desc--wrap .music-desc li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
  font-family: "kcc";
  font-size: 30px;
}
.music-desc--wrap .music-desc li span {
  font-weight: 600;
  font-size: 36px;
  color: #112112;
}

.play-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #000;
}

.play-btn.play {
  background-color: lightblue;
}

.play-btn.pause {
  background-color: lightcoral;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.062745098);
}

.main-page section {
  width: 100%;
}

.main-page .music-section {
  z-index: 999;
  height: calc(100vh - 60px);
  margin-top: 60px;
}
.main-page .music-section .inner {
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 40px;
}
.main-page .music-section .inner .music-info {
  width: 80%;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
}
.main-page .music-section .inner .section-title {
  margin-bottom: 16px;
  font-size: 48px;
}
.main-page .music-section .inner .player-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */